<div class="card mt-4">
  <div class="card-header">
    Products
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">QUANTITY</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <th>{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
